body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: red;
    height: 1000px;
}
.main-container {

    width: 800px;
    background-color: white;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

/* HEADER STYLES */

.cv-header {
    background-color: white;
    margin: 0 auto;
    display: inline-block;
    width: inherit;
    text-align: center;
    /* flex-direction: column;
    align-items: center;
    justify-content: center; */
    
    /* position: fixed;
    top: 0; */
}

.header-download {
    display: flex;
    flex-direction: row-reverse;
}

.header-download-btn {
    background-color: white;
    border: 1px solid black;
    border-radius: 10px;
    padding: 8px 12px;
    margin-top: 10px;
    margin-right: 10px;
    font-size: 10px;
}

.header-download-btn:hover {
    background-color: black;
    color: white;
    cursor: pointer;
}

#name {
    margin-bottom: 3px;
}

.header-details {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.header-details p {
    font-size: 18px;
    margin: 5px 0;
}

/* Work Experience Section */

.work-exp {
    background-color: white;
    width: inherit;
    margin: 0 auto;
    
}
